
/* *****************************************************************
GENERAL
***************************************************************** */

/* html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, 
 fieldset, form, label, legend, 
 table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */


*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}




:root{
    --white:#ffffff;
    --yel:#c5c544;
    --vert:#192519;
    --noir:#000000;
    --beige:#ebe3db;
    --red:#950000;
}
.container {
	box-sizing: border-box;
    
    margin: 0 auto;

}

header{
    margin-bottom: 1rem;
}

.up{
    display:flex;
    justify-content: space-between;
    background-color: var(--white);
}

.up h1{
    color:var(--noir);
}

.up h1 span{
    color:#c5c544;
}

a{
    text-decoration: none;
    color:var(--noir);
}

li{
    list-style-type: none;
}

.tac{
    text-align: center;
}

.icon_main{
    width:10rem;
}

.icop:hover{
    fill: var(--yel);
}

.photo{
    background-color: var(--noir);
    width: 20%;
    border-radius: 100px;
}

.photo:hover{
    background-color: var(--yel);
}
table{
    margin: 10px auto;
}
td,th{
    border: 1px solid black;
    text-align: left;
    padding: 14px;
}
/* body{
    background-color: #4c4343;
} */

/* *****************************************************************
NAV
***************************************************************** */
nav{
    background-color: var(--vert);
    text-align: center;
    /* margin-bottom: 1rem; */
}

nav ul{
    margin-top: 3rem;
    border-top:1px solid var(--white);
}

nav ul li{
    font-weight: 700;
}

nav ul li a{
    display:block;
    color:var(--white);
    font-weight:bold;
    /* text-decoration: none; */
    padding:1rem;
    border-bottom: 1px solid var(--white);
    transition: all .7s linear;
}

nav ul li a:hover,
nav ul li a:focus{
    transform:scale(1.0);
    transition: transform 1s,background-color 1s,color 1s;
    background-color:var(--yel); 
    color:black;
}

nav ul li a.active{
    background-color: #192519;
}

.sign_in{
    color:var(--beige);

}

.sign_in svg {
    color:black;
    transition: all .7s linear;
}

.sign_in svg:hover{
    color:var(--yel);
    transform:scale(1.1);
    transition: transform 1s,background-color 1s,color 1s;
}

.sign_in svg{
    width:2rem;
}

/* *****************************************************************
MAIN
***************************************************************** */
.banner{
    position:relative;
    background-image: url(../img/Audi-black-car-front-view-headlight_3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 25rem;
    text-align: center;
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
        ); */
    /* filter: brightness(.75); */
    /* background-color: var(--noir); */
    margin: 1rem 0;

}

.banner::after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: var(--noir);
    opacity: .5;
}

.titre{
    position:absolute;
    z-index: 10;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

h1{      
    color:var(--white);
   
}

.banner p{
    color:var(--white);    
}

.banner a{
    position:relative;
    text-decoration: none;
    color: var(--noir);
    background-color: var(--yel);
    padding:1rem;
    border-radius: 1.5rem;
    top:2rem;
    
}

.margin_bottom{
    margin-bottom: 2rem;
}

main svg {
    color:black;
    transition: all .7s linear;
}

main svg:hover{
    color:var(--yel);
    transform:scale(1.1);
    transition: transform 1s,background-color 1s,color 1s;
}



/* *****************************************************************
FOOTER
***************************************************************** */
.ico{
    width:2rem;
    fill: #fff;
}

.flex{
    display: flex;
    justify-content: space-evenly ;
}

.bg_footer{
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:var(--white);
    
}





.bg_footer a{
    color: var(--white);
}

/* *****************************************************************
ABOUT
***************************************************************** */
.about{
    width: 90%;
    margin:0 auto;
    padding: 1rem;
}

.about_up{
    margin:1rem;
    padding:1rem; 
}

.about_up h2{
    margin:1rem;
}

.about_up img{
    width: 80%;
    margin:0 auto;
    width: 50rem;
    
}

.commentaire{
    line-height: 1.4;
    text-align: justify;
}



/* *****************************************************************
VERSION TABLETTE
***************************************************************** */
@media screen and(min-width:760px){
    nav ul {
        display:flex;
        justify-content: space-between;
    }


}


@media screen and (min-width:1100px){

}









/* input[type="text"] {
	width: 50%;
	margin: 3rem auto 0 auto;
	border: none;
	background-color: #4c4343;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.6rem;
	letter-spacing: .3rem;
	padding: 1rem 3rem;
} */



/* *****************************************************************
PAGE NOS VOITURES
***************************************************************** */
.filter{
    text-align: center;
    margin-bottom: 2rem;
}

.filter button{
    /* display: block; */
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .3rem;
    background-color:var(--beige) ;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    cursor:pointer;
    transition: all .7s;
}

.filter button:hover{
    color:var(--white);
    background-color: var(--yel);
}

.choice{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    background-color:var(--beige);
    margin: 2rem;
    padding: 1rem;
}

.choice div {
    width: 30rem;
    height: 20rem;
    transition: all .1s linear;
}

.choice div:hover{
    transform:scale(1.1);
    transition: transform 1s,background-color 1s,color 1s;
    cursor: pointer;
}

.choice div img{
    /* flex-basis: 10%; */
    width: 30rem;
    margin: .2rem;
    height: 90%;
}

.bane{
    position:relative;
    background-image: url(../img/brand-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 10em;
    /* text-align: center; */
    color:var(--white);
}

.daily{
    background-image: url('../img/photo-audi-1644424074.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-block: 10rem;
    margin:2rem;
    width: 1200px;
    /* height: 80%; */
    padding:30%;
}

.daily h3{
    color:var(--white);
}

.gold{
    background-image: url('../img/S0-lamborghini-va-continuer-a-proposer-des-v12-733975.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-block: 10rem;
    margin:2rem;
    width:1200px;
    /* height: 80%; */
    padding: 20%;
}

.gold h3{
    color:var(--white);
}

.diamond{
    background-image: url('../img/vue-3-4-arriere-BMW-M4-Concept-Iconic-Lights.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-block: 10rem;
    margin:2rem;
    width:1200px;
    /* height: 80%; */
    padding:30%;
}

.diamond h3{
    color:var(--white);
}























/* *****************************************************************
INSCRIPTION
***************************************************************** */


.main-form{
    margin: 0 auto;
    max-width: 80%;
}

















/* *****************************************************************
DASHBOARD
***************************************************************** */
.dashboardbane{
    background-image: url(../img/1013266.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 10rem;
    color:var(--white);
}


















/* *****************************************************************
FORMULAIRE
***************************************************************** */

.main-form{

    padding: 2rem;
    margin:1rem;
}

.main-form div{
    margin:1rem;
}

.main-form input{
    width: 15%;
}